.row {
    justify-content:center;
}

.row:hover {
    background-color: lightgray;
}

.expand_collapse {
    float:left;
    color: gray;
    width: 20px;
    height: 20px;
}

.expand_collapse_img {
    width: 60%;
    height: 60%;
}

.expand_collapse_img:hover {
    filter: opacity(0.3);
    transform: scale(1.8);
}

.plan_add_button{
    float:right;
    color: gray;
}
.plan_add_button:hover{
    transform: scale(1.8);
}

/* Set one CSS for two tags */
.plan_timer_button,
.plan_deletion_button,
.plan_check_button{
    vertical-align: middle;
    width:20px;
    height:20px;
}

/* Set one CSS for two tags */
.plan_timer_button:hover,
.plan_deletion_button:hover,
.plan_check_button:hover{
    transform: scale(1.8);
}

.calendar{
    position:absolute;
    z-index: 100;
}

.calendar_icon {
    vertical-align: middle;
    width:20px;
    height:20px;
}

.calendar_icon:hover {
    filter: opacity(0.3);
    transform: scale(1.5);
}

.input_time {
    width: 50px
}



/* ========== Learning ========== */
/* z-index: 100 is to make sure the component is always on the top the stack */