.short_term_plan {
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.08) 0px 2px 8px;
    margin-left:  15%;
    margin-right: 15%;
    margin-top: 2%;
}

/* This is title for Short Term Plan*/
.short_term_plan_title {
    font-size: 20px;
    font-weight: 1000;
    padding: 8px;
    border-bottom: 1px solid #e8e8e8;
}

/* This is title name for current short_term_plan */
.title{
    /* up right down left */
    padding: 20px 0 0 20px;
    font-size: large;
    font-weight: bold;
}