.card {
    margin: 1rem auto;
    width: 95%;
    max-width: 50rem;
    border-bottom: 1px solid #e0e0e0; /* light gray line */
}

.card h3 {
    margin: 0;
}

.card h5 {
    margin: 1rem 0 0 0;
}

/* Show string with new lines */
.card div {
    white-space: pre-wrap;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.edit,
.done {
    cursor: pointer;
}

.edit:hover,
.done:hover {
    filter: opacity(0.6);
}