.row:hover {
    background-color: lightgray;
}

.highlight {
    background-color: #ebf5f0; /* Adjust the highlight color as needed */
}

.plan_timer_button,
.plan_check_button {
    vertical-align: middle;
    width:20px;
    height:20px;
}

.plan_timer_button:hover,
.plan_check_button:hover {
    transform: scale(1.8);
}

.calendar{
    position:absolute;
    z-index: 100;
}

.calendar_icon {
    vertical-align: middle;
    width:20px;
    height:20px;
}

.calendar_icon:hover {
    filter: opacity(0.3);
    transform: scale(1.5);
}

.expand_collapse {
    float:left;
    color: gray;
    width: 20px;
    height: 20px;
}

.expand_collapse_img {
    width: 60%;
    height: 60%;
}

.expand_collapse_img:hover {
    filter: opacity(0.3);
    transform: scale(1.8);
}