.priority,
.lifeSupportDetails {
    margin-left: 20px; /* or use padding-left */
}

.first_column {
    max-width: 250px
}

.dividing_line {
    width: 70%;
    height: 1px;
    background-color: #ccc; /* or any color you prefer */
    margin: 10px 0; /* space around the line */
}

.pie_chart_row {
  margin-top: -20px; /* Move up the PieChart a bit */
}