.card {
    margin: 1rem auto;
    width: 95%;
    max-width: 50rem;
    border-radius: 6px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card h3 {
    margin: 0;
}

/* Show string with new lines */
.card div {
    white-space: pre-wrap;
}

.edit,
.done {
    cursor: pointer;
}

.edit:hover,
.done:hover {
    filter: opacity(0.6);
}