.inline_edit input:hover,
.inline_edit textarea:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.input_title,
.input_description {
    width: 100%;
    text-align: left;
}

.input_title {
    background-color: transparent;
    border: 0;
    padding: 8px;
    font-weight: bold;
    font-size:large;
}

.input_description {
    background-color: transparent;
    border: 0;
    padding: 8px;
}
